<section class="a2-products tab-content active" id="tab-content-2">
    <h2 class="title-l2">WISHLIST: 10 СРЕДСТВ, КОТОРЫЕ ДОЛЖНЫ БЫТЬ В ТВОЕЙ КОСМЕТИЧКЕ</h2>

    <div class="product product-a2-1">
        <h3 class="prod-title">Набор жидких матовых помад для губ Rainbow, Jeffree Star Cosmetics</h3>
        <p class="def-par">
            Гуру фантазийного макияжа Джефри Стар представил набор из 8 разноцветных матовых помад, которые пригодятся не только на Хеллоуин. Средства из линейки не тестируются на животных и безопасны для слизистой глаз — их можно использовать и как тени для век.
        </p>
        <p class="def-par">Выпусти своего внутреннего художника наружу и попробуй смешать цвета. Для этого быстро наноси оттенки кисточкой на кожу до того, как продукт зафиксируется. Поверь, как только помада застынет, ее не сотрет ни снег, ни дождь, ни третья чашка кофе.</p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p1.png" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-2">
        <h3 class="prod-title">Суперсбалансированный тональный крем Superbalanced Makeup, Clinique</h3>
        <p class="def-par">
            С креативным макияжем разобрались — пора найти подходящую базу. Мы советуем брать продукт с легким покрытием, чтобы кожа дышала и выглядела наиболее естественно. Синяки под глазами и покраснения можно скрыть тем же средством, нанеся его чуть плотнее.
        </p>
        <p class="def-par">И конечно, мы всегда за то, чтобы косметика не только маскировала недостатки, но и лечила их. Средства от Clinique подходят проблемной и склонной к аллергии коже — деликатный тон точно не вызовет больше проблем.</p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p2.png" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-3">
        <h3 class="prod-title">Гель для бровей и ресниц Essence</h3>
        <p class="def-par">
            Косметика не обязана быть дорогой, особенно если быстро расходуется, и высокая цена не всегда говорит о безусловном качестве. Прозрачному «малышу» от Essence признавались в любви блогеры, звезды, простые люди, да и мы не остаемся в стороне. Гениальное и простое средство, которое превратит твой «частокол» в брови не хуже, чем у Билли Айлиш. Однозначно лайк!
        </p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--blue product__decoration--blue-2"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p3.jpg" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-4">
        <h3 class="prod-title">Глиттер для лица и тела Face & Body Glitter, Nyx</h3>
        <p class="def-par">
            Куда мы, девочки, без блесток? Точнее, так: куда весь мир без блесток? Без глиттера этот свет был бы намного грустнее. Нанести средство на веки и плечи, на руки и на ноги — и уже не так печально идти на пары. Только используй продукт в комбинации со специальным праймером, чтобы блестки не остались на одежде.
        </p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p4.png" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-5">
        <h3 class="prod-title">Набор масок для лица Dr.Jart Mask Heroes Set</h3>
        <p class="def-par">
            Среди всего корейского, что мы любим — дорамы, музыка и стиль одежды, — косметика стоит на отдельном пьедестале. Утренняя и вечерняя рутина жительницы Сеула включает от 5 до 20 ступеней, не считая дополнительного «праздничного» ухода. У нас времени на такое нет, но идеальную кожу как у Лисы из Blackpink очень хочется.
        </p>
        <p class="def-par">Выход — быстрые тканевые «покрывала» для лица. Набор из шести масок подходит для всех типов кожи, а красочный дизайн точно поднимет настроение с утра. Держи полезный лайфхак: в магазине корейской косметики Lunifera действует акция — кешбэк 12% на первую покупку. Если добавить к этой акции кешбэк программы «Мир», получится, что ты взяла одну маску даром <i class="emoji"></i></p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p5.png" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-6">
        <h3 class="prod-title">Сухой шампунь XXL Volume Spray, Batiste </h3>
        <p class="def-par">
            Сухой шампунь — новая классика и средство, без которого можно, но тяжко. Это вещь «два в одном»: собственно шампунь и спрей для создания объема. Согласись, это экономит деньги и место в косметичке. А шампунь от Batiste еще и вкусно пахнет — мелочь, а приятно <i class="emoji"></i>
        </p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p6.png" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-7">
        <h3 class="prod-title">Парфюмированный гель для душа Gucci Bloom</h3>
        <p class="def-par">
            На улице холод и мрак, в душе грусть и тоска — настроение поднимет только чудо. Гель для душа от Gucci сойдет за волшебный дар: средство пахнет как парфюмерная вода из той же линейки Bloom или свежим цветущим садом. В красивую пыльно-розовую баночку потом можно поставить настоящий букет и поддерживать тренд на повторное использование пластика.
        </p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p7.png" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-8">
        <h3 class="prod-title">Парфюмированный крем для рук Cuir de Nuit, Yves Rocher </h3>
        <p class="def-par">Кремов для рук много не бывает: у тебя наверняка есть по одному экземпляру в сумке, на прикроватном столике и в ванной. Советуем тебе еще один: Cuir de Nuit от Yves Rocher. Плюс — тюбик компактного размера поместится даже в карман. Минус — ты захочешь его либо съесть, либо вымазать сразу на руки: сладкий аромат кофе, ванили и какао вряд ли оставит тебя равнодушной.</p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p8.png" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-9">
        <h3 class="prod-title">Медовые жемчужины для ванны L’Occitane</h3>
        <p class="def-par">Девушка с картины Яна Вермеера — та, что с жемчужной сережкой, — наверняка осталась бы в восторге от новинки от L’Occitane. Тут не одна жемчужина, а целая пригоршня, и они не будут лежать в шкатулке, а превратят твою ванну в произведение импрессионистского искусства. А пахнет средство теплым сладким медом — самое то после тяжелого рабочего дня. </p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p9.png" alt=""></div>
        </div>
    </div>

    <div class="product product-a2-10">
        <h3 class="prod-title">Йогурт для тела «Британская роза», The Body Shop</h3>
        <p class="def-par">Веганская косметика сейчас на пике популярности, и бренды не отстают от трендов. Средство для тела от The Body Shop называется йогуртом, но в нем нет коровьего молока. Зато есть гиалуроновая кислота, растительный глицерин и все, чтобы твоя кожа была увлажненной. Средство протестировано дерматологами и подходит для всех типов кожи.</p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-2-products/p10.png" alt=""></div>
        </div>
    </div>

</section>
