<section class="a2-products tab-content" id="tab-content-2">
    <h2 class="title-l2">10 ВЕЩЕЙ, КОТОРЫХ НЕ ХВАТАЕТ В ТВОЕЙ СУМКЕ – СОВЕТУЕТ<br> РЕДАКЦИЯ ELLE GIRL
    </h2>
    <p class="def-par">Собрать идеальное наполнение шоппера или рюкзака – почти как итоги года подвести: сложно, долго и
        слишком много мелочей. Предлагаем покончить с походными сумками раз и навсегда, а неудобные вещи заменить на
        небольшие и практичные.
    </p>
    <p class="def-par">Но главное, что должно быть в твоей сумке – карта платежной системы «Мир». Она почти не займет
        места в кошельке, зато даст тебе кэшбэк в специализированных магазинах косметики или бытовой техники и
        электроники, а также много других приятных бонусов. Согласись, удобно иметь такую палочку-выручалочку
        ☺</p>
    <div class="product product-a2-1">
        <h3 class="prod-title">Спрей для волос</h3>
        <p class="def-par">
            Ты холишь и лелеешь кожу лица, балуешь его масками и кремами, а вот волосы остаются в пролёте. Зимой длиною
            в 7 месяцев шевелюре и так непросто – ее бросает из мороза в отапливаемые квартиры несколько раз на дню. Без
            специального ухода локоны потускнеют, а кончики начнут сечься.
        </p>
        <p class="def-par">Нейтрализовать влияние перепадов температур поможет термозащитный или питательный спрей:
            просто наноси его на волосы перед каждым выходом на улицу.</p>
        <div class="product__bottom">
           
        </div>

    </div>

</section>
