<section class="a3-products tab-content" id="tab-content-3">
    <h2 class="title-l2">10 ВЕЩЕЙ, КОТОРЫХ НЕ ХВАТАЕТ В ТВОЕЙ СУМКЕ – СОВЕТУЕТ<br> РЕДАКЦИЯ ELLE GIRL
    </h2>
    <p class="def-par">Собрать идеальное наполнение шоппера или рюкзака – почти как итоги года подвести: сложно, долго и
        слишком много мелочей. Предлагаем покончить с походными сумками раз и навсегда, а неудобные вещи заменить на
        небольшие и практичные.
    </p>
    <p class="def-par">Но главное, что должно быть в твоей сумке – карта платежной системы «Мир». Она почти не займет
        места в кошельке, зато даст тебе кэшбэк в специализированных магазинах косметики или бытовой техники и
        электроники, а также много других приятных бонусов. Согласись, удобно иметь такую палочку-выручалочку
        ☺</p>
    <div class="product product-a2-1">
        <h3 class="prod-title">Спрей для волос</h3>
        <p class="def-par">
            Ты холишь и лелеешь кожу лица, балуешь его масками и кремами, а вот волосы остаются в пролёте. Зимой длиною
            в 7 месяцев шевелюре и так непросто – ее бросает из мороза в отапливаемые квартиры несколько раз на дню. Без
            специального ухода локоны потускнеют, а кончики начнут сечься.
        </p>
        <p class="def-par">Нейтрализовать влияние перепадов температур поможет термозащитный или питательный спрей:
            просто наноси его на волосы перед каждым выходом на улицу.</p>
        <div class="product__bottom">
            <div class="product__decoration product__decoration--blue"></div>
            <div class="product__decoration product__decoration--green"></div>
            <div class="product__prod-pic product__prod-pic--1"><img src="img/article-1-products/1-1.png" alt=""></div>
            <div class="product__prod-pic product__prod-pic--2"><img src="img/article-1-products/1-2.png" alt=""></div>
            <div class="prod-info prod-info--1">
                <div class="prod-info__desc">Спрей-термозащита для волос Estel Thermal Protection Hair Spray
                </div>
                <div class="prod-info__price">425 руб.</div>
            </div>
            <div class="prod-info prod-info--2">
                <div class="prod-info__desc">Несмываемая сыворотка для гладкости волос с термозащитой Biolage
                    Smoothproof
                    serum, MATRIX</div>
                <div class="prod-info__price">1 403 руб.</div>
            </div>
        </div>

    </div>

</section>
