<section class="a3-products tab-content" id="tab-content-3">
    <h2 class="title-l2">10 КРУТЫХ ПОДАРКОВ К НОВОМУ ГОДУ – СОВЕТУЕТ<br> РЕДАКЦИЯ ELLE GIRL
    </h2>
    <p class="def-par">В канун праздников встает выбор: порадовать близких, но потом месяц питаться водой и хлебом, или сэкономить на подарках. Новый год на то и время чудес, что не нужно выбирать: ты можешь и закупиться на семью, и не потратить состояние. Сэкономить поможет кешбэк от платежной системы «Мир»: просто не забывай в предновогодней суете оплачивать картой подарки, а Дедушка Мороз вернет обратно 10% за покупки в магазинах косметики и парфюмерии, техники и электроники, детских товаров &#9786; Кешбэк вернется при общих тратах по карте от 10 000 рублей в месяц.</p>


    <div class="product product-a3-1">
        <h3 class="prod-title">Для тех, кто вечно не высыпается</h3>
        <p class="def-par">С радостью вставать по утрам умеют либо природные жаворонки, либо люди с железной дисциплиной. Но твои друзья смотрят сериалы до двух ночи и почти забыли, как это — с улыбкой поднимать голову с кровати. </p>
        <p class="def-par">Технологии приходят на помощь: умный световой будильник делает процесс пробуждения плавным и приятным. Подсветка гаджета меняется с красного на желтый, что повторяет цветовой спектр восходящего солнца. Сопровождается световой переход звуками природы, как будто просыпаешься у бабушки в деревне!</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-2">
        <h3 class="prod-title">Для меломанов</h3>
        <p class="def-par">Ценители качественного звука никогда не откажутся от хорошей колонки. Зачем она нужна, если на всех компьютерах и смартфонах есть динамики? Колонка более мобильна: благодаря Bluetooth-подключению гаджет можно передвигать на 20 метров в помещении и до 50 — на улице. К тому же на новогодней вечеринке плей-лист с телефона не включишь — тут нужно что-то погромче. </p>
        <p class="def-par">Любителям спокойного отдыха советуем дарить водонепроницаемую колонку с держателем: такую можно повесить в ванную и слушать в душе любимые подкасты &#9786;</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-3">
        <h3 class="prod-title">Для любителей кофе</h3>
        <p class="def-par">Кофеварка уже давно не западная диковинка, а жизненная необходимость в доме. При выборе ориентируйся на образ жизни человека, которому даришь, и на обустройство его кухни. Другу без лишнего места и розетки подойдет гейзерная — ей нужна лишь плита. Если в приоритете экономия времени, бери кофеварку капельного типа. Ценители тонкого аромата и вкуса напитка будут пищать от восторга при виде турки, классической или электрической, — кофе в ней получается самый ароматный!</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-4">
        <h3 class="prod-title">Для любимой подруги</h3>
        <p class="def-par">Визажисты тебе подтвердят: если макияж не удается, проблема в том, как ты его наносишь. На рынке каких только средств нет — спонжики, губки и аэрозоли, — но лучше классических кистей для новичка не придумаешь. Самые нужные — плоская для тона, пушистая для румян и большая кисть-кабуки для пудры. По желанию можно добавить в набор скошенную кисть для бровей или стрелок, маленькую — для консилера и растушевочную — для теней. </p>
        <p class="def-par">Обрати внимание на дизайн держателей и как они сочетаются со стилем того, кому ты даришь: в магазинах ты найдешь как строгие черные, так и единорожно блестящие с розовым ворсом.</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-5">
        <h3 class="prod-title">Для мамы или бабушки</h3>
        <p class="def-par">Доктор Кокс из сериала «Клиника» говорил: «Надо уделять себе хотя бы 20 минут в день». Но с учебой и работой у нас нет даже этого, а уж у твоих родителей и подавно. Так что лучший подарок маме и бабушке — это время, причем с самой собой. Тканевые маски для лица как раз надо наносить примерно на полчаса, а работать в них совсем не хочется. Хочется лежать, гладить кота и смотреть любимый фильм &#9786; </p>
        <p class="def-par">Питательные маски не только позволят расслабиться и ощутить себя в первоклассном спа, они также убирают воспаления и освежают цвет лица.</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-6">
        <h3 class="prod-title">Для путешественников</h3>
        <p class="def-par">«Банные наборы» в праздники дарят друг другу все, и это дико надоело. С составом и функциями никогда не угадаешь, да еще бутылочки шампуней и бальзамов занимают дома все полки. </p>
        <p class="def-par">Однако твердые шампунь, гель и кондиционер для волос идеальны для тех, кто вечно в разъездах. Продукты в таком формате не больше куска мыла, а потому не потеснят другие вещи в рюкзаке. Такие средства разрешено брать в ручную кладь, и не надо тратиться на дополнительные travel-наборы бутылочек. А свойства у них как раз для тех, у кого нет времени на уход: питание, экстраувлажнение и блеск.</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-7">
        <h3 class="prod-title">Для сестренки</h3>
        <p class="def-par">В бьюти-индустрии идет тренд на осознанное потребление и минималистичный макияж, а значит, лишним продуктам нет места в косметичке. В моде универсальность и сочетаемость, и потому средства с несколькими функциями завоевывают наши сердца. </p>
        <p class="def-par">Тинт для губ и щек как раз такая палочка-выручалочка. Розовым средством можно освежить цвет лица, как будто ты только что позанималась йогой; яркие оттенки вроде бордового и красного придадут образу драматичности. А что самое приятное, тинты держатся весь день, и не нужно вечно держать рядом зеркальце, чтобы поправить мейк.</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-8">
        <h3 class="prod-title">Для компании друзей</h3>
        <p class="def-par">Чтобы поддерживать себя в форме, нет необходимости ходить в спортзал каждое утро. Врачи советуют вставать раз в час-полтора и делать небольшую разминку. Фитнес-браслет не даст тебе сидеть сиднем весь день: ты можешь установить интервал, через который гаджет на руке будет вибрировать, пока ты не встанешь с дивана. </p>
        <p class="def-par">Устройство также подсчитает твою дневную норму шагов и будет напоминать, если ты до нее недотягиваешь. Ну и самое прекрасное: браслет мониторит фазы сна и будит тебя в оптимальное время. С таким «другом» и тренер не нужен!</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-9">
        <h3 class="prod-title">Для всех подряд</h3>
        <p class="def-par">Адвент-календарь — это такая рождественская традиция, пришедшая из католических стран. Раньше родители заготавливали для детей ящички или носочки с небольшими подарками, всего 24 штуки, и открывать их было положено по одному — с 1 декабря до кануна Рождества. Косметические компании адаптировали идею для бьютиголиков, и теперь под конец года миссия — найти лучший бокс с соотношением цена-качество. </p>
        <p class="def-par">Некоторые компании предпочитают делать 12 ячеек, но класть полноразмерные продукты, другие же раскидывают много-много пробников. Если будешь дарить набор подруге, убедись, что она уже пользовалась брендом, чтобы исключить аллергию. Ну и предупреди, что открывать надо по одной дверке в день, хоть и перспектива посмотреть все сразу звучит соблазнительнее &#9786;</p>
        <div class="product__bottom">
        </div>
    </div>

    <div class="product product-a3-10">
        <h3 class="prod-title">Для себя</h3>
        <p class="def-par">Самое сладкое и приятное — на конец. В новогодней суете не забудь порадовать себя любимую и вспомнить, как много классного ты сделала за это время. Зажги свечку, достань блокнот и попробуй записать свои достижения  этого года и планы на следующий. Ты удивишься, насколько можно вырасти за 365 дней. А запах свечки тебя успокоит, если ты не достигла каких-то целей. У тебя на них весь год впереди &#9786;</p>
        <div class="product__bottom">
        </div>
    </div>


</section>
