<header id="masthead" class="site-header">
    <div class="container">
        <nav class="site-header-menu">
            <a href="#" class="site-header-menu__link site-header-menu__link--bold">читайте также</a>
            <a href="#" class="site-header-menu__link">WISHLIST: 10 СРЕДСТВ, КОТОРЫЕ ДОЛЖНЫ<br> БЫТЬ В ТВОЕЙ КОСМЕТИЧКЕ</a>
            <a href="#" class="site-header-menu__link">СТАТЬЯ №3</a>
            <a href="#" class="site-header-menu__link">ТЕСТ: КАКАЯ ТЫ СОВРЕМЕННАЯ<br> ДЕВУШКА?</a>
        </nav>
    </div>

</header>
<div class="place-for-header"></div>
