<header id="masthead" class="site-header">
    <div class="container">
        <nav class="site-header-menu">
            <a href="javascript:;" class="site-header-menu__link site-header-menu__link--bold">читайте также</a>
            <a href="javascript:;" class="site-header-menu__link active" data-tab="1">10 ВЕЩЕЙ, КОТОРЫХ НЕ ХВАТАЕТ<br> В ТВОЕЙ СУМКЕ</a>
            <a href="javascript:;" class="site-header-menu__link" data-tab="2">10 СРЕДСТВ, КОТОРЫЕ ДОЛЖНЫ<br> БЫТЬ В ТВОЕЙ КОСМЕТИЧКЕ</a>
            <a href="javascript:;" class="site-header-menu__link" data-tab="3">СТАТЬЯ №3</a>
            <a href="javascript:;" class="site-header-menu__link" data-tab="4">ТЕСТ: КАКАЯ ТЫ СОВРЕМЕННАЯ<br> ДЕВУШКА?</a>
        </nav>
    </div>

</header>
<div class="place-for-header"></div>
