<section class="section-read-also">
    <h3 class="section-read-also__title">читайте также</h3>
    <div class="read-also-container">
        <div class="read-also-item" data-id>
            <div class="read-also-item__pic"><img src="img/1anons.png" alt=""></div>
            <div class="read-also-item__title">WISHLIST: 10 СРЕДСТВ, КОТОРЫЕ ДОЛЖНЫ БЫТЬ В ТВОЕЙ КОСМЕТИЧКЕ</div>
            <a href="" class="read-also-item__link">читать</a>
        </div>
        <div class="read-also-item">
            <div class="read-also-item__pic"><img src="img/2anons.png" alt=""></div>
            <div class="read-also-item__title">СТАТЬЯ №3</div>
            <a href="" class="read-also-item__link">читать</a>
        </div>
        <div class="read-also-item">
            <div class="read-also-item__pic"><img src="img/3anons.png" alt=""></div>
            <div class="read-also-item__title">ТЕСТ: КАКАЯ ТЫ СОВРЕМЕННАЯ ДЕВУШКА?</div>
            <a href="" class="read-also-item__link">читать</a>
        </div>
    </div>
</section>
