<section class="section-read-also">
    <h3 class="section-read-also__title">читайте также</h3>
    <div class="read-also-container">
        <a href="javascript:;" class="read-also-item " data-tab="1">
            <span class="read-also-item__pic"><img src="img/2anons.png" alt=""></span>
            <span class="read-also-item__title">10 ВЕЩЕЙ, КОТОРЫХ НЕ ХВАТАЕТ В ТВОЕЙ СУМКЕЕ</span>
            <span class="read-also-item__link">читать</span>
        </a>
        <a href="javascript:;" class="read-also-item active" data-tab="2">
            <span class="read-also-item__pic"><img src="img/1anons.png" alt=""></span>
            <span class="read-also-item__title">WISHLIST: 10 СРЕДСТВ, КОТОРЫЕ ДОЛЖНЫ БЫТЬ В ТВОЕЙ КОСМЕТИЧКЕ</span>
            <span  class="read-also-item__link">читать</span>
        </a>
        <a href="javascript:;" class="read-also-item" data-tab="3">
            <span class="read-also-item__pic"><img src="img/4anons.jpg" alt=""></span>
            <span class="read-also-item__title">10  КРУТЫХ ПОДАРКОВ К НОВОМУ ГОДУ</span>
            <span  class="read-also-item__link">читать</span>
        </a>
        <a href="javascript:;" class="read-also-item" data-tab="4">
            <span class="read-also-item__pic"><img src="img/3anons.png" alt=""></span>
            <span class="read-also-item__title">ТЕСТ: КАКАЯ ТЫ СОВРЕМЕННАЯ ДЕВУШКА?</span>
            <span  class="read-also-item__link">читать</span>
        </a>
    </div>



    <div class="copy">
        © 2019 HSM Production
    </div>
</section>
