<section class="section-read-also">
    <h3 class="section-read-also__title">читайте также</h3>
    <div class="read-also-container">
        <div class="read-also-item " data-tab="1">
            <div class="read-also-item__pic"><img src="img/4anons.jpg" alt=""></div>
            <div class="read-also-item__title">10 ВЕЩЕЙ, КОТОРЫХ НЕ ХВАТАЕТ В ТВОЕЙ СУМКЕЕ</div>
            <a href="javascript:;" class="read-also-item__link">читать</a>
        </div>
        <div class="read-also-item active" data-tab="2">
            <div class="read-also-item__pic"><img src="img/1anons.png" alt=""></div>
            <div class="read-also-item__title">WISHLIST: 10 СРЕДСТВ, КОТОРЫЕ ДОЛЖНЫ БЫТЬ В ТВОЕЙ КОСМЕТИЧКЕ</div>
            <a href="javascript:;" class="read-also-item__link">читать</a>
        </div>
        <div class="read-also-item" data-tab="3">
            <div class="read-also-item__pic"><img src="img/2anons.png" alt=""></div>
            <div class="read-also-item__title">СТАТЬЯ №3</div>
            <a href="javascript:;" class="read-also-item__link">читать</a>
        </div>
        <div class="read-also-item" data-tab="4">
            <div class="read-also-item__pic"><img src="img/3anons.png" alt=""></div>
            <div class="read-also-item__title">ТЕСТ: КАКАЯ ТЫ СОВРЕМЕННАЯ ДЕВУШКА?</div>
            <a href="javascript:;" class="read-also-item__link">читать</a>
        </div>
    </div>



    <div class="copy">
        © 2019 HSM Production
    </div>
</section>
