<div class="sidebar-cash-anim"><img src="img/anim-sidebar.gif" alt=""></div>
<aside class="sidebar-cash">

    <div class="sidebar-cash__pic"><img src="images/blue-card.png" alt=""></div>
    <div class="sidebar-cash__title">Кэшбэк 10%<br>
        по карте “Мир”</div>
    <div class="sidebar-cash__desc">во всех магазинах косметики, бытовой техники и электроники, товаров для детей</div>
    <div class="sidebar-cash__what">Что нужно сделать?</div>
    <div class="sidebar-cash-steps">
        <div class="sidebar-cash-steps__step active" data-step="1">1</div>
        <div class="sidebar-cash-steps__step" data-step="2">2</div>
        <div class="sidebar-cash-steps__step" data-step="3">3</div>
        <div class="sidebar-cash-steps__step" data-step="4">4</div>
    </div>
    <div class="sidebar-cash__reg active" data-step="1">Зарегистрируй карту на сайте privetmir.ru</div>
    <div class="sidebar-cash__reg" data-step="2">Оплачивай покупки картой в специализированных магазинах (косметика, бытовая техника и электроника, товары для детей)</div>
    <div class="sidebar-cash__reg" data-step="3">Убедись, что сумма всех покупок в месяц по карте «Мир» больше 10 000 рублей</div>
    <div class="sidebar-cash__reg" data-step="4">Получай кэшбэк деньгами обратно на карту</div>
    <a href="https://cashback.privetmir.ru/" target="_blank" class="sidebar-cash__more-btn">Узнать больше</a>
</aside>
