<section class="a4-products tab-content" id="tab-content-4">
    <h2 class="title-l2">Какая ты современная девушка</h2>
    <p class="def-par">Девушки бывают самые разные, конечно, ты и сама это знаешь. Мы увлекаемся всем подряд: от макияжа до машиностроения. Хобби и любимый образ жизни не только приносят радость и желание развиваться, но и нехилые расходы.</p>
    <p class="def-par">Устрой шопинг своего идеального дня, и мы скажем, на какую современную девушку ты больше всего похожа. А сэкономить на покупках поможет карта <a href="" target="_blank">«Мир»</a> — достаточно оплачивать ею покупки в специализированных магазинах, и тебе вернется кешбэк 10%.</p>

    <div id="querstion">
        <div id="testover"></div>
        <div id="quest-count"></div>
        <h3 class="prod-title" id="vopros"></h3>
        <div class="variants">
            <div class="vaiant variant-1" data-value="0">
                <div class="img-block"><img src="" alt=""></div>
                <div class="text"></div>
            </div>
            <div class="vaiant variant-2" data-value="1">
                <div class="img-block"><img src="" alt=""></div>
                <div class="text"></div>
            </div>
            <div class="vaiant variant-3" data-value="2">
                <div class="img-block"><img src="" alt=""></div>
                <div class="text"></div>
            </div>
        </div>
    </div>

    <div id="otvet">
        <h3 class="title-l2"></h3>
        <p class="def-par"></p>
    </div>

</section>
