<section class="top-section">

    <div class="sectio-top-logo">
        <div class="top-logo-wrap">
            <div class="sectio-top-logo__pic"><img src="img/elle-mir-logo.png" alt=""> </div>
            <div class="sectio-top-logo__spec">спецпроект</div>
        </div>
    </div>
    <div class="top-section-content">
    <h1 class="page-title">ШОПИНГ<br> С РЕДАКЦИЕЙ</h1>
    <p class="def-par"><span class="bold">Бездумно сметать новинки с магазинных полок больше не модно — в тренде
            разумное потребление. На замену вещам-однодневкам пришли продукты, которые будут тебя радовать годами.
        </span></p>
    <p class="def-par">Сэкономить на большой покупке можно разными способами: взять в долг у подруги дисконтную карту,
        дождаться распродажи или найти альтернативу дешевле. Другой выгодный способ — воспользоваться кешбэком. </p>
    <p class="def-par">Например, выгодные предложения есть у платежной системы «Мир» — просто оплачивай покупки картой,
        а часть потраченного вернется к тебе на счет. Шопиться можно в любых специализированных магазинах техники,
        косметики и детских товаров по всей стране, так что еще и на подарки близким накопишь <i class="emoji"></i></p>
    </div>
</section>
