.site-header {
    position: absolute;
    left: 0;
    width: 100%;
    background: #FCF036;
    z-index: 100;

    .container {
        padding: 0 vw(19) 0 0;
    }
}

.site-header-menu {
    height: vw(71);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;






    &__link {
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        font-size: vw(18);
        line-height: vw(24);

        &--bold {
            @include demi();
        }

        &:hover {}

        &:active {}

        &:focus {}
    }
}

.place-for-header {
    height: vw(71);
}
