$font1: "Futura PT",
sans-serif;
$resolution: 1600;

a {
	text-decoration: none;
}

html,
body {}

body {
	color: #000000;
	font-family: $font1;
	font-size: 16px;
	margin: 0;
	background: #ffffff;
}


#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	display: flex;
	width: vw(1065);
	margin: 0 auto;
	box-sizing: border-box;

	&__left {
		width: vw(666);
		margin-right: vw(99);
	}

	&__right {
		width: vw(300);
	}
}

.tab-content{
	display: none;
	&.active{
		display: block;
	}
}