.section-read-also {
    margin-top: 102px;
    width: 100%;

    &__title {
        text-align: center;
        width: 100%;
        @include demi();
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;

        color: #000000;
    }

}

.read-also-container {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;

}

.read-also-item {
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;

    &__pic {
        width: 298px;
        height: 264px;
        transition: 0.3s ease;
        img {
            width: 100%;
            height: 100%;
            object-position: center center;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;

        color: #000000;
        width: 100%;
        min-height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

    }

    &__link {
        width: 170px;
        height: 40px;
        left: 338px;
        top: 9840px;
        transition: 0.3s ease;

        background: #FCF036;

        font-size: 18px;

        text-align: center;
        text-transform: uppercase;

        color: #000000;

        display: flex;
        align-items: center;
        justify-content: center;


        &:active {}

        &:focus {}
    }

    img {}

    &.active{
        display: none;
    }

    &:hover {
        .read-also-item__pic{
            transform: scale(1.1);
        }
        .read-also-item__link{
            background: #bbaf2a;
        }
    }
}


.copy{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 17px 0;
    margin-top: 62px;
}